01_03_Open_Editors_GenAi/__pycache__
.vscode
04_fastapi-mongodb-cicd-pipeline/__pycache__
04_fastapi-mongodb-cicd-pipeline/.env
01_03_Open_Editors_GenAi
04_fastapi-mongodb-cicd-pipeline
08_ChromaDB_vectorDB/__pycache__
01_03_Open_Editors_GenAi
